---
import cx from 'classnames';
import Link from '@components/Link';
import Search from '@components/Search.astro';
import ThemeToggle from '@components/ThemeToggle.astro';
import context from 'src/context';
import { getImagePath } from 'src/utils';

const { owner, repository, ref, githubRefPath, config, source } = context.get();

// TODO preview mode
---

<header class="sticky top-0 border-b dark:border-slate-800/80 bg:white z-20 backdrop-blur">
  <div class="absolute inset-0 z-0 dark:bg-zinc-900/90 dark:text-white"></div>
  <div class="max-w-8xl mx-auto relative z-10">
    <div class="h-16 px-4 lg:px-8 mx-4 lg:mx-0 flex items-center">
      <div class="flex-1 flex items-center">
        <Link href="/" className="transition-opacity hover:opacity-75 inline-flex items-center gap-3">
          {
            !!config.logo && (
              <img
                alt="Logo"
                class:list={['inline-block h-[30px]', { 'dark:hidden': !!config.logoDark }]}
                src={getImagePath(config.logo)}
              />
            )
          }
          {
            !!config.logoDark && (
              <img
                alt="Logo"
                class="hidden h-[30px] dark:inline-block"
                src={getImagePath(config.logoDark)}
              />
            )
          }
          <span class="text-xl font-bold">{config.name || `${owner}/${repository}`}</span>
          <span class="fa-solid fa-user fa-fw"></span>
        </Link>
      </div>
      <div
        class:list={{
          'lg:w-64 xl:w-80': !!config.docsearch,
        }}
      >
        {!!config.docsearch && <Search />}
      </div>
      <div class="flex-1 flex gap-6 items-center justify-end">
        {
          !!ref && (
            <Link
              href={githubRefPath}
              className={cx('rounded py-1 px-3 text-sm text-white transition', {
                'bg-green-500 hover:bg-green-400': source.type === 'branch',
                'bg-blue-500 hover:bg-blue-400': source.type === 'commit',
                'bg-orange-500 hover:bg-orange-400': source.type === 'PR',
              })}
            >
              {source.type === 'branch' && `${ref}`}
              {source.type === 'commit' && ref.substring(0, 7)}
              {source.type === 'PR' && `PR #${ref}`}
            </Link>
          )
        }
        <ThemeToggle />
      </div>
    </div>
  </div>
</header>
