---
import Link from '@components/Link';
import context from 'src/context';
import { isExternalLink } from 'src/utils';

const sidebar = context.get().config.sidebar || [];

function getLinkRef(href: string): string {
  if (import.meta.env.DEV) {
    return '';
  }

  if (isExternalLink(href)) {
    return 'noopener noreferrer';
  }

  return 'prefetch';
}
---

<nav class="mt-9">
  <ul class="lg:text-sm lg:leading-6">
    {
      sidebar.map(([title, urlOrChildren]) => {
        if (typeof urlOrChildren === 'string') {
          return (
            <li>
              <Link
                href={urlOrChildren}
                className="mb-3 block font-medium tracking-wide opacity-75 transition hover:opacity-100"
                activeClassName="text-docs-theme opacity-100"
                rel={getLinkRef(urlOrChildren)}
              >
                {title}
              </Link>
            </li>
          );
        }

        return (
          <li class="my-8">
            <h5 class="mb-3 block font-semibold tracking-wide">{title}</h5>
            <ul class="space-y-2 border-l dark:border-slate-700">
              {urlOrChildren.map(([title, url]) => (
                <li>
                  <Link
                    href={url}
                    className="hover:border-docs-theme relative -left-px block border-l border-transparent pl-4 opacity-75 transition hover:opacity-100"
                    activeClassName="border-docs-theme opacity-100 font-semibold tracking-wide text-docs-theme"
                    rel={getLinkRef(url)}
                  >
                    {title}
                  </Link>
                </li>
              ))}
            </ul>
          </li>
        );
      })
    }
  </ul>
</nav>
